name: Rust

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    name: Tests
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Rust
      uses: dtolnay/rust-toolchain
      with:
        toolchain: stable
        components: clippy, rustfmt

    - name: Build
      run: cargo build --all-features

    - name: Test
      run: cargo test --all-features

    - name: Docs
      run: cargo doc --all-features

    - name: Clippy
      run: cargo clippy --all-features -- -D warnings

    - name: Rustfmt
      run: cargo fmt --all --check
